* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #8d6cab;
}

.container {
  display: flex;
}

.box {
  border: 1px solid #caccce;
}

.left {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 100%;
  background-color: red;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.49rem;
  height: 50rem;
  width: 13.8rem;
  transform: translateX(55px);
  border-radius: 8px;

  background-color: purple;
}

.bg {
  width: 100%;
  border-radius: 8px;
}

.knixk {
  width: 68px;
  border-radius: 50px;
  border: 2px solid white;
  z-index: 2;
  transform: translateY(-35px);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  transform: translateY(-12px);
  font-weight: bold;
  font-size: 16px;
}

.sub {
  font-size: 13px;
  transform: translateY(-7px);
  color: #caccce;
}
